html {
    background: #e5ddd7;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 3em;
    margin: 3em;
    background: #f7f7f7;
    min-height: calc(100vh - 12em);
    box-shadow: 0px 1px 6px #888;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #8d6cbf;
    font-weight: bold;
}
a:hover {
    color: #dbcbde;
}

h1, h2, h3, h4, h5, h6 {
    color: #8d6cbf;
}
